@use "sass/abstracts" as *;

.img {
	height: 100%;
  width: 100%;
  background: url('../../../assets/backgrounds/login-background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.section {
	padding-bottom: 0px;
}


.checkbox-text {
    font-size: 12px;
}

.card {
	// margin-top: 60px;
	display: grid;
  max-width: 500px;

	&__content {
    form {
      display: grid;

			.btn-sign-in {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 85px;
				aspect-ratio: 1;
				margin-top: 130px;
				margin-bottom: 20px;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
		
				background-color: $color-primary-400;
				transition: background-color 1s;
				border: 2px solid #f0f0f0;
				border-radius: 30px;
				mat-icon {
						zoom: 3;
						color: white;
				}
				
				&[disabled] {
						background-color: transparent;
						transition: background-color 0.5s;
						border: 2px solid #d9d9d9;
						mat-icon {
								color: #d9d9d9;
						}
					}
				}
			}

			.links {
				margin-top: 20px;
				display: grid;
				font-size: 12px;
				text-align: center;
				justify-content: center;
				a {
						text-decoration: none;
						color: #c1c1c1;
						margin-bottom: 5px;
				}
		}
	}

	&__actions {
    display: grid;
    gap: $size-4;
	}
}

