<div class="img"></div>

<section class="section">
    <mat-card class="[ card ] [ mx-auto ]">
        <mat-card-header class="[ card__header ] [ margin-block-end-4 ]">
            <h1 class="heading-3">Sign Up</h1>
        </mat-card-header>

        <mat-card-content class="card__content">
            <form [formGroup]="form">

            <mat-form-field class="forms" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="John Doe" type="text" formControlName="email">
                <mat-error *ngIf="form.get('username')?.hasError('required')">
                </mat-error>   
            </mat-form-field>

            <mat-form-field class="forms" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="form.get('password')?.hasError('required')">
                </mat-error>
            </mat-form-field>

            <mat-form-field class="forms" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
                </mat-error>
                <mat-error *ngIf="form.get('confirmPassword')?.hasError('pattern')">
                    Passwords must match
                </mat-error>
            </mat-form-field>
            <mat-checkbox [disableRipple]="true">
                <p class="checkbox-text">
                    Stay signed in
                </p>
            </mat-checkbox>
    
            <button class="btn-sign-in" 
                [disabled]="!form.valid || disableButton === true" 
                (click)="signUp()">
                <mat-icon svgIcon="right-arrow">
                </mat-icon>
            </button>
        </form>

        </mat-card-content>
    </mat-card>
</section>